/* ============================================= */
/*                  LightBox                     */
/* ============================================= */
.chocolat-zoomable.chocolat-zoomed {
  cursor: zoom-out;
}

.chocolat-open {
  overflow: hidden;
}

.chocolat-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: #252525;
  display: none;
  opacity: 0.9;
}

.chocolat-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  z-index: 16;
  color: #D2D2D2;
}

.chocolat-zoomable .chocolat-img {
  cursor: zoom-in;
}

.chocolat-loader {
  height: 32px;
  width: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
  z-index: 11;
  background: url(/img/loader.gif);
  display: none;
}

.chocolat-content {
  position: fixed;
  width: 0px;
  height: 0px;
  left: 50%;
  top: 50%;
  z-index: 14;
  text-align: left;
}

.chocolat-content .chocolat-img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.chocolat-wrapper .chocolat-left {
  position: absolute;
  left: 0;
  width: 50px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
  cursor: pointer;
  background: url(/img/left.png) 50% 50% no-repeat;
  z-index: 17;
  display: none;
}

.chocolat-wrapper .chocolat-right {
  position: absolute;
  right: 0;
  width: 50px;
  height: 100px;
  top: 50%;
  margin-top: -50px;
  cursor: pointer;
  background: url(/img/right.png) 50% 50% no-repeat;
  z-index: 17;
  display: none;
}

.chocolat-wrapper .chocolat-right.active {
  display: block;
}

.chocolat-wrapper .chocolat-left.active {
  display: block;
}

.chocolat-wrapper .chocolat-top {
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  line-height: 50px;
  height: 50px;
  overflow: hidden;
  z-index: 17;
  margin-bottom: 10px;
}

.chocolat-wrapper .chocolat-close {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: url(/img/close.png) 50% 50% no-repeat;
}

.chocolat-wrapper .chocolat-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 40px;
  height: 40px;
  font-size: 12px;
  z-index: 17;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(0, 0, 0, 0.5);
  text-align: right;
  margin-top: 10px;
}

.chocolat-wrapper .chocolat-set-title {
  display: none;
  padding-right: 15px;
  line-height: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.chocolat-wrapper .chocolat-pagination {
  float: right;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 15px;
  /*border-right: 1px solid rgba(255, 255, 255, 0.2);*/
}

.chocolat-wrapper .chocolat-fullscreen {
  width: 16px;
  height: 40px;
  background: url(/img/fullscreen.png) 50% 50% no-repeat;
  display: block;
  margin: auto;
  cursor: pointer;
  float: right;
}

.chocolat-wrapper .chocolat-description {
  display: inline-block;
  float: left;
}

/* no container mode*/
body.chocolat-open > .chocolat-overlay {
  z-index: 15;
}

body.chocolat-open > .chocolat-loader {
  z-index: 15;
}

body.chocolat-open > .chocolat-content {
  z-index: 17;
}

/* container mode*/
.chocolat-in-container .chocolat-wrapper,
.chocolat-in-container .chocolat-content,
.chocolat-in-container .chocolat-overlay {
  position: absolute;
}

.chocolat-in-container {
  position: relative;
}

/* uncomment to hide controls when zoomed-in*/
/*
.chocolat-zoomable .chocolat-top,
.chocolat-zoomable .chocolat-bottom,
.chocolat-zoomable .chocolat-right,
.chocolat-zoomable .chocolat-left {
    transition: opacity .3s ease, visibility 0s .3s;
   opacity: 1;
}

.chocolat-zoomable.chocolat-zoomed .chocolat-top,
.chocolat-zoomable.chocolat-zoomed .chocolat-bottom,
.chocolat-zoomable.chocolat-zoomed .chocolat-right,
.chocolat-zoomable.chocolat-zoomed .chocolat-left {
    visibility: hidden;
    opacity: 0;
}
*/
/* ============================================= */
/*              Base styles                      */
/* ============================================= */
* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

img {
  width: 50px;
  height: 50px;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ============================================= */
/*              Typography                       */
/* ============================================= */
body {
  font-family: "Titillium Web", sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
  text-align: center;
}
@media (min-width: 768px) {
  h1 {
    font-size: 35px;
  }
}

h3 {
  font-size: 20px;
  letter-spacing: 5px;
}

.wingdings {
  font-family: wingdings;
}

@media (min-width: 1024px) {
  #home h1 {
    letter-spacing: 22px;
  }
}

.nav-links a {
  text-decoration: none;
  font-size: 36px;
  text-transform: uppercase;
  color: #D2D2D2;
}
@media (min-width: 1024px) {
  .nav-links a {
    letter-spacing: 3px;
    font-size: 15px;
  }
}

#testimonials .wingdings {
  font-size: 30px;
}
@media (min-width: 425px) {
  #testimonials .wingdings {
    font-size: 50px;
  }
}
@media (min-width: 768px) {
  #testimonials .wingdings {
    font-size: 70px;
  }
}
#testimonials .review-text {
  font-size: 16px;
}
@media (min-width: 425px) {
  #testimonials .review-text {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  #testimonials .review-text {
    font-size: 30px;
  }
}

#contact p {
  font-size: 18px;
  line-height: 2.5;
}
@media (min-width: 425px) {
  #contact p {
    font-size: 26px;
    line-height: 1.8;
  }
}
@media (min-width: 425px) {
  #contact h3 {
    font-size: 30px;
  }
}
@media (min-width: 425px) {
  #contact button {
    font-size: 26px;
  }
}

/* ============================================= */
/*                    Header                     */
/* ============================================= */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 50px;
  max-height: 70px;
  background-color: #252525;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
@media (min-width: 1024px) {
  nav {
    background-color: rgba(37, 37, 37, 0.9);
  }
}

.logo {
  color: #FF0000;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .logo {
    width: 45%;
  }
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #D2D2D2;
  margin: 5px;
  transition: all 0.5s ease;
}
@media (min-width: 1024px) {
  .burger div {
    display: none;
  }
}

/* ============================================= */
/*                      Nav                      */
/* ============================================= */
.nav-links {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: #252525;
  /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
}
@media (min-width: 1024px) {
  .nav-links {
    height: auto;
    width: auto;
    position: initial;
    background-color: initial;
  }
}

.nav-content {
  position: relative;
  top: 12%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
@media (min-width: 1024px) {
  .nav-content {
    position: initial;
    display: flex;
    margin-top: 0;
    justify-content: space-evenly;
  }
}

/* The navigation links inside the overlay */
.nav-links a {
  padding: 4%;
  display: block;
}
@media (min-width: 768px) {
  .nav-links a {
    padding: 5%;
  }
}
@media (min-width: 1024px) {
  .nav-links a {
    padding: 10px;
  }
}
@media (min-width: 1440px) {
  .nav-links a {
    padding: 5%;
  }
}

/* Position the close button (top right corner) */
.nav-links .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
@media (min-width: 1024px) {
  .nav-links .closebtn {
    display: none;
  }
}

/* ============================================= */
/*                Home Hero                      */
/* ============================================= */
#home {
  background-color: #AF0404;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #D2D2D2;
  text-align: center;
  margin-top: 50px;
}
@media (min-width: 1024px) {
  #home {
    background-image: url("/img/hero-pic.jpg");
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
  }
  #home .overlay-drk {
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 0.5;
    position: absolute;
  }
  #home h1 {
    z-index: 1;
  }
}

/* ============================================= */
/*                Image styles                   */
/* ============================================= */
.title .right {
  transform: rotate(180deg);
}

/* ============================================= */
/*                Services Section               */
/* ============================================= */
#services .title {
  display: flex;
  justify-content: center;
  padding-top: 4.1em;
  padding-bottom: 1.5em;
}
#services .title h2 {
  font-size: 30px;
  color: #414141;
}
#services .title .left {
  margin-top: 30px;
}
#services .container {
  background-color: #D2D2D2;
  text-align: center;
  justify-content: center;
  padding: 2em 0;
}
@media (min-width: 768px) {
  #services .container {
    display: flex;
    flex-wrap: wrap;
  }
}
#services .container .icon {
  font-size: 2em;
}
@media (min-width: 768px) {
  #services .container .icon {
    padding-top: 2em;
    width: 10%;
  }
}
@media (min-width: 768px) {
  #services .services-list {
    width: 45%;
  }
}
#services .services-list h3 {
  color: #FF0000;
}
#services .services-list ul {
  list-style: none;
  padding: 0;
}
#services .services-list li {
  color: #414141;
  padding-bottom: 1.5em;
}

/* ============================================= */
/*               Locations Section               */
/* ============================================= */
#locations .title {
  display: flex;
  justify-content: center;
  padding-top: 4.1em;
  padding-bottom: 1.5em;
}
#locations .title h2 {
  font-size: 30px;
  color: #414141;
}
#locations .title .left {
  margin-top: 30px;
}
#locations .container {
  background-color: #D2D2D2;
  padding: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
@media (min-width: 1024px) {
  #locations .container {
    background-image: url(/img/locations-background.jpg);
    height: 65vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
#locations .container .location {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #414141;
  padding: 0 25px;
}
@media (min-width: 375px) {
  #locations .container .location {
    padding: 0;
  }
}
#locations .container .location h3 {
  width: fit-content;
  padding: 0.4em;
}
@media (min-width: 1024px) {
  #locations .container .location h3 {
    background-color: rgba(238, 238, 238, 0.7);
  }
}
#locations .container .hours-container {
  display: flex;
  flex-flow: wrap row;
  text-align: center;
  justify-content: center;
  color: #D2D2D2;
  padding: 0.5em;
}
#locations .container .hours-container div {
  height: 6em;
  height: 6em;
  width: 45%;
  margin: 0.2em;
}
@media (min-width: 768px) {
  #locations .container .hours-container div {
    width: 33%;
  }
}
@media (min-width: 1024px) {
  #locations .container .hours-container div {
    width: 10%;
    margin: 0.7em;
  }
}
#locations .container .hours-container .red {
  background-color: #AF0404;
}
#locations .container .hours-container .black {
  background-color: #252525;
}

/* ============================================= */
/*                   Gallery                     */
/* ============================================= */
#gallery .title {
  display: flex;
  justify-content: center;
  padding-top: 4.1em;
  padding-bottom: 1.5em;
}
#gallery .title h2 {
  font-size: 30px;
  color: #414141;
}
#gallery .title .left {
  margin-top: 30px;
}
#gallery .chocolat-parent {
  background-color: #252525;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
  padding: 1.5em;
}
@media (min-width: 1024px) {
  #gallery .chocolat-parent {
    padding-bottom: 2em 0;
  }
}
#gallery .chocolat-parent a {
  width: 30%;
  margin: 1em;
}
@media (min-width: 768px) {
  #gallery .chocolat-parent a {
    width: 25%;
  }
}
@media (min-width: 1024px) {
  #gallery .chocolat-parent a {
    width: 20%;
  }
}
#gallery .chocolat-parent img {
  height: 100px;
  width: 100px;
}
@media (min-width: 768px) {
  #gallery .chocolat-parent img {
    height: 150px;
    width: 150px;
  }
}
@media (min-width: 1440px) {
  #gallery .chocolat-parent img {
    height: 200px;
    width: 200px;
  }
}

/* ============================================= */
/*             Testimonials Section              */
/* ============================================= */
#testimonials {
  color: #D2D2D2;
}
#testimonials .title {
  display: flex;
  justify-content: center;
  padding-top: 4.1em;
  padding-bottom: 1.5em;
}
#testimonials .title h2 {
  font-size: 30px;
  color: #414141;
}
#testimonials .title .left {
  margin-top: 30px;
}
#testimonials .slideshow {
  background-color: #414141;
  padding: 2.5em 0;
}
@media (min-width: 1024px) {
  #testimonials .slideshow {
    background-image: url(/img/hero-testimonial.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
  }
}
@media (min-width: 1024px) {
  #testimonials .slideshow .overlay-drk {
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 0.5;
    position: absolute;
  }
}
#testimonials .slideshow .slick {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1024px) {
  #testimonials .slideshow .slick {
    position: relative;
    top: 25%;
  }
}
#testimonials .slideshow .slick-prev {
  left: 5%;
}
#testimonials .slideshow .slick-next {
  right: 5%;
}
#testimonials .slideshow .slick-next, #testimonials .slideshow .slick-prev {
  top: 20%;
}
#testimonials .slideshow .slick-prev::before, #testimonials .slideshow .slick-next::before {
  color: #D2D2D2;
  font-size: 30px;
  display: none;
}
@media (min-width: 1024px) {
  #testimonials .slideshow .slick-prev::before, #testimonials .slideshow .slick-next::before {
    color: #D2D2D2;
    font-size: 40px;
    display: block;
  }
}
#testimonials .slideshow .slick-dots {
  bottom: 2%;
}
@media (min-width: 768px) {
  #testimonials .slideshow .slick-dots {
    bottom: 5%;
  }
}
@media (min-width: 1024px) {
  #testimonials .slideshow .slick-dots {
    bottom: 10%;
  }
}
#testimonials .slideshow .review {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1em 0;
}
#testimonials .slideshow .review .review-img img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  #testimonials .slideshow .review .review-img img {
    width: 100px;
    height: 100px;
  }
}
#testimonials .slideshow .review .review-img p {
  text-transform: uppercase;
  font-size: 20px;
}
@media (min-width: 425px) {
  #testimonials .slideshow .review .review-img p {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  #testimonials .slideshow .review .review-img p {
    font-size: 30px;
  }
}
#testimonials .slideshow .review-info {
  display: flex;
  justify-content: center;
  text-align: center;
}
#testimonials .slideshow .review-info .review-text {
  padding: 10px;
}
#testimonials .slideshow .review-info .wingdings:last-of-type {
  transform: rotate(180deg);
}
#testimonials .slick-dots li button:before {
  font-size: 15px;
  color: #D2D2D2;
}

/* ============================================= */
/*                Contact Section                */
/* ============================================= */
#contact .title {
  display: flex;
  justify-content: center;
  padding-top: 4.1em;
  padding-bottom: 1.5em;
}
#contact .title h2 {
  font-size: 30px;
  color: #414141;
}
#contact .title .left {
  margin-top: 30px;
}
#contact .container {
  background-color: #D2D2D2;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  padding: 2.5em 0 4.5em;
}
#contact .container p {
  margin: 0;
}
#contact .container span {
  color: #FF0000;
}
#contact .container button {
  width: 80%;
  height: 50px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #414141;
  color: #D2D2D2;
}
@media (min-width: 425px) {
  #contact .container button {
    height: 80px;
  }
}
@media (min-width: 1024px) {
  #contact .container button {
    width: 55%;
  }
}

/*# sourceMappingURL=styles.css.map */
