// Media queries 

@mixin mq($break) {
    $value: map-get($breakpoints, $break);

    @media (min-width: $value) {
        @content;
    }
}

// Title formating

@mixin title {
    display: flex;
    justify-content: center;

    h2 {
        font-size: 30px;
        color: $color-gray;
    }

    .left {
        margin-top: 30px;
    }
    padding-top: 5%;
    @content;
}

// Darken Background with over lay 

@mixin overlay-drk {
       .overlay-drk {
            width: 100vw;
            height: 100vh;
            background: #000;
            opacity: .5;
            position: absolute;
            @content;
        }
}