// ======================================
//  Variables
// ======================================

// ------------Colors--------------------
$color-white                :#D2D2D2;
$color-black                :#252525;
$color-gray                 :#414141; 

$color-primary              :#FF0000;
$color-secondary            :#AF0404;

// -----------Fonts----------------------
$font-primary               :'Titillium Web', sans-serif;


//-----------Breakpoints-----------------
$breakpoints: (
    "mobileS"               : 320px,
    "mobileM"               : 375px,
    "mobileL"               : 425px,
    "tablet"                : 768px,
    "laptop"                : 1024px,
    "desktop"               : 1440px,
); 
