/* ============================================= */
/*                Contact Section                */
/* ============================================= */

#contact {
    .title {
        @include title;
    }

    .container {
        background-color: $color-white;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        text-align: center;
        padding: 2.5em 0 4.5em;
        p {
            margin: 0;
        }
        span {
            color: $color-primary;
        }

        button {
            width: 80%;
            height: 50px;
            max-width: 300px;
           margin-left: auto;
           margin-right: auto;
           background-color: $color-gray;
           color: $color-white;

           @include mq('mobileL'){
            height: 80px;
            }

            @include mq("laptop") {
                width: 55%;
            }
        }
    }
}

