  /* ============================================= */
  /*                   Gallery                     */
  /* ============================================= */

#gallery {
   

    .title {
        @include title;
    }

    .chocolat-parent {
        background-color: $color-black;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-flow: row wrap;
        padding: 1.5em;

        @include mq('laptop') {
            padding-bottom: 2em 0;
         }

        a {
            width: 30%;
            margin: 1em;

            @include mq('laptop') {
                width: 20%;
            }

        }
        img {
            height: 100px;
            width: 100px;

            @include mq('tablet') {
                height: 150px;
                width: 150px;
            }

            @include mq('desktop') {
                height: 200px;
                width: 200px;
            }
        }
    }

}

