/* ============================================= */
/*                Home Hero                      */
/* ============================================= */

#home {
    background-color: $color-primary;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-white;
    text-align: center;

    @include mq("laptop") {
        background-image: url("/img/hero-pic.jpg");
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;

        @include overlay-drk;

        h1 {
            z-index: 1;
        }
    }
}