/* ============================================= */
/*               Locations Section               */
/* ============================================= */

#locations {
    .title {
        @include title;
    }
    
    .container {
        background-color: $color-white;
        padding: 1em;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;


        @include mq("laptop"){
            background-image: url(/img/locations-background.jpg);
            height: 65vh;
            width: 100vw;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
        
        .location {
            display: flex;
            justify-content: center;
            text-align: center;
            color: $color-gray;
            padding: 0 25px;
            @include mq("mobileM") {
                padding: 0;
            }

            h3 {
                width: fit-content;
                padding: .4em;

                @include mq('laptop'){
                    background-color: rgba($color: #eee, $alpha: .7);
                }
            }
        }


        .hours-container {
            display: flex;
            flex-flow: wrap row;
            text-align: center;
            justify-content: center;
            color: $color-white;
            padding: .5em;

            div {
                height: 6em;
                height: 6em;
                width: 45%;
                margin: .2em;

                @include mq("tablet") {
                    width: 33%;
                }
                @include mq("laptop") {
                    width: 10%;
                    margin: .7em;
                }

            }

            .red {
                background-color: $color-secondary;
            }

            .black {
                background-color: $color-black;
            }
        }
    }

}

