.nav-links {  
    height: 0;
    width: 100%;
    position: fixed; 
    z-index: 100; 
    left: 0;
    top: 0;
    background-color: $color-black; /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s;
    @include mq("laptop") {
        height: auto;
        width: auto;
        position: initial;
        background-color: $color-black;
    }
}

.nav-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;

    @include mq("laptop") {
        position: initial;
        display: flex;
        margin-top: 0;
        justify-content: space-evenly;
    }

}
  
  /* The navigation links inside the overlay */
.nav-links a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    text-transform: uppercase;
    color: $color-white;
    display: block;

    @include mq("laptop") {
        letter-spacing: 3px;
        font-size: 15px;
    }
}
  
/* Position the close button (top right corner) */
.nav-links .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;

    @include mq("laptop") {
       display: none;
    }
}
