/* ============================================= */
/*                Services Section               */
/* ============================================= */

#services {
    background-color: $color-white;
    
    // title 
    .title {
        @include title;
    }

    .container {
        background-color: $color-white;
        text-align: center;
        justify-content: center;
        padding-bottom: 2em;
        
        @include mq("tablet") {
            display: flex;
            flex-wrap: wrap;
        }

        .icon {
            font-size: 2em;
            
            @include mq("tablet"){
                padding-top: 2em;
                width: 10%;
            }
        }
    }

    .services-list {
        @include mq("tablet"){
            width: 45%;
        }

        h3 {
            color: $color-primary;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            color: $color-gray;
            padding-bottom: 1.5em;
        }
    }
}

