  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */

  body {
    font-family: $font-primary;
  }

  h1 {
    text-transform: uppercase;
  }

  .wingdings {
    font-family: wingdings;
  }